.dot-container {
  width: 150px;

  display: flex;
  justify-content: space-between;
}

.dot-container button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.2;
}

.dot-container button:hover {
  opacity: 0.5;
}

.dot-container .active,
.dot-container .active:hover {
  opacity: 1;
  transform: scale(1.02);
}
